body{
    font-family: 'Roboto', sans-serif;
}

.cabecalho{
    width: 100%;
    margin: 0 auto;
}

.codar{
    font-size: 60px;
    margin-top: 15px;
    margin-left: 55px;
    color: red;
}

nav{
    position: absolute;
    top: 35px;
    right: 200px;

}

nav li{
    display: inline;
    font-size: 26px;
    margin-left: 55px;
    cursor: pointer;
}

.login{
    border: none;
	border-radius: 8px;
    padding: 15px 65px;
    color: white;
    background-color: red;
}

.login:hover{
    background-color: rgb(212, 134, 17);
}

.primeiro-conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.video_call{
    width: 600px;
    margin-top: 200px;
    margin-left: 20px;
}

.paragrafo{
    margin-right: 50px;
    margin-top: 80px;
}

.paragrafo1{
    font-weight: bold;
    font-size: 40px;
}

.paragrafo2{
    font-weight: bold;
    font-size: 100px;
    color: red;
    margin-top: 20px;
}

.botao{
  margin-top: 80px;
  border: none;
  border-radius: 12px;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background: red;
  cursor: pointer;
}

.botao:hover{
    background-color: rgb(212, 134, 17);
}

.beneficios{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    align-items: center;
}

.lista-beneficios{
    margin-top: 40px;
}

.lista{
    padding: 10px 0;
    font-size: 30px;
}

.lista:before{
    content: "✓";
    margin: 0 10px 0 0;
    padding: 0 5px;
    border: none;
    border-radius: 30px;
    color: white;
    background: red;
}

.coding{
    width: 600px;
}

.titulo-secundario{
    margin: 20px 0 20px 200px;
    font-size: 30px;
    font-weight: bolder;
}

.contato{
    display: flex;
    margin-left: 200px;
}

.input-telefone{
    border: none;
    border-radius: 12px;
    padding: 15px 35px;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(231, 231, 231);
    color: rgb(117, 117, 117);
    cursor: text;
}

.botao1{
    margin-left: 20px;
    border: none;
    border-radius: 12px;
    padding: 15px 35px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background: red;
    cursor: pointer;
}