body{
    font-family: 'Roboto', sans-serif;
}

.cabecalho{
    width: 100%;
    margin: 0 auto;
}

.codar{
    font-size: 60px;
    margin-top: 15px;
    margin-left: 55px;
    color: red;
}

nav{
    position: absolute;
    top: 35px;
    right: 200px;

}

nav li{
    display: inline;
    font-size: 26px;
    margin-left: 55px;
    cursor: pointer;
}

.login{
    border: none;
	border-radius: 8px;
    padding: 15px 65px;
    color: white;
    background-color: red;
}

.video_call{
    width: 600px;
    margin-top: 200px;
    margin-left: 180px;
}